#barsDiv {
    overflow-x: hidden;
}
#sidebarDiv {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
#sidebarDiv .heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
#sidebarDiv .list {
    width: 15rem;
    padding-left: 0px;
}
#pageDiv {
    min-width: 100vw;
}
#barsDiv.toggled #sidebarDiv {
    margin-left: 0;
}
.list-group-item {
    display: inline-block;
}
.chatroomType {
    width: 90%;
    float: left;
    font-weight: bold;
}
.publicChatroomType, .privateChatroomType {
    width: 90%;
    float: left;
    cursor: pointer;
}
li .fa-times {
    color: #ff0000;
    cursor: pointer;
}
.chatroomIcon {
    width: 10%;
    float: left;
    margin-left: 10px;
}
.fas.fa-angle-double-up, .fas.fa-angle-double-down {
    cursor: pointer;
}
.hiddenPublicChatroom, .hiddenPrivateChatroom {
    display: none;
}
li a, li a:hover {
    color: #000;
    text-decoration: none;
}
@media (min-width: 768px) {
    #sidebarDiv {
        margin-left: 0;
    }
    #pageDiv {
        min-width: 0;
        width: 100%;
    }
    #barsDiv.toggled #sidebarDiv {
        margin-left: -15rem;
    }
}
